* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* NAVBAR SECTION */ 

img {
    width: 12%
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f6ee;
    padding: 0px 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #0a2261;
}

#contact-btn {
    font-size: 20px;
    color: white;
    background-color: #0a2261;
    text-decoration: none;
    padding: 10px 20px;
}
/* END NAVBAR SECCTION */