@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
}


/* NAVBAR SECTION */ 

img {
    width: 12%
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f6ee;
    padding: 0px 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #0a2261;
}

#contact-btn {
    font-size: 20px;
    color: white;
    background-color: #0a2261;
    text-decoration: none;
    padding: 10px 20px;
}
/* END NAVBAR SECCTION */

/* HEADER SECTION */
.header-img {
    background-image: url(images2/5.jpg);
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
    display: flex;


}

.welcome-section {
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    padding: 5px 0px;
    margin: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

}
/* END HEADER SECTION */


/* MEDIA QUERY */
@media only screen and (max-width: 800px) {
    img {
        width: 24%;
    }
}